body {
    text-align: center;
}

#board {
    background-image: url("retro.jpg");
    background-repeat: no-repeat; /* Estää taustakuvan toistumisen */
    background-size: cover; /* Skalaa kuvan täyttämään koko elementti */
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
}